In [33]:
import pandas as pd
import re

In [16]:
#import csv
movies=pd.read_csv('imdb_top_1000.csv')
movies=pd.DataFrame(movies)

In [17]:
#dataframe info
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [18]:
#dataframe first 5 rows
movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [19]:
#remove commas from Gross
movies['Gross']=movies['Gross'].str.replace(',', '')
#change Gross to numeric
movies['Gross']=pd.to_numeric(movies['Gross'])

In [20]:
#remove 'min' from runtime
movies['Runtime']=movies['Runtime'].str.replace('min', '')
#change Runtime to numeric
movies['Runtime']=pd.to_numeric(movies['Runtime'])
#change column name for clarity
movies.rename(columns={'Runtime': 'Runtime_min'}, inplace=True)

In [21]:
#remove the wrong value in Released_Year
movies.loc[movies['Series_Title'] == 'Apollo 13', 'Released_Year'] = '1995'
#change Released_Year to numeric
movies['Released_Year']=pd.to_numeric(movies['Released_Year'])

In [22]:
# Check for columns with null values
null_columns = movies.columns[movies.isnull().any()]
null_columns

Index(['Certificate', 'Meta_score', 'Gross'], dtype='object')

In [23]:
# Replace null values in Certificates with unknown
movies = movies.fillna({'Certificate': 'Unknown'})

In [24]:
# Replace null values in Meta_score with 0
movies = movies.fillna({'Meta_score': 0})

In [25]:
# Replace null values in Gross with mean
movies['Gross'] = movies['Gross'].fillna(movies['Gross'].mean())

In [35]:
#Remove whitespaces from Genre
def remove_whitespace(x):
    if isinstance(x, str):
        return re.sub(r'\s+', '', x)
    return x

movies['Genre'] = movies['Genre'].apply(remove_whitespace)

In [27]:
#filter old movies
old = movies[movies['Released_Year'] < 2000]
old=pd.DataFrame(old)

In [28]:
old.info()

<class 'pandas.core.frame.DataFrame'>
Index: 515 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    515 non-null    object
 1   Series_Title   515 non-null    object
 2   Released_Year  515 non-null    int64
 3   Certificate    515 non-null    object
 4   Runtime_min    515 non-null    int64
 5   Genre          515 non-null    object
 6   IMDB_Rating    515 non-null    float64
 7   Overview       515 non-null    object
 8   Meta_score     515 non-null    float64
 9   Director       515 non-null    object
 10  Star1          515 non-null    object
 11  Star2          515 non-null    object
 12  Star3          515 non-null    object
 13  Star4          515 non-null    object
 14  No_of_Votes    515 non-null    int64
 15  Gross          515 non-null    float64
dtypes: float64(3), int64(3), object(10)
memory usage: 68.4+ KB

In [36]:
movies.to_csv('imdb_movies_clean.csv', index=False)